n8n-workflows/ai-researcher.json
{
  "name": "Bidsquire — AI Researcher",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Receive Research Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-research",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-build-auth",
      "name": "Build eBay Auth Header",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const clientId = $vars.EBAY_APP_ID;\nconst clientSecret = $vars.EBAY_CLIENT_SECRET;\nconst basicAuth = 'Basic ' + Buffer.from(clientId + ':' + clientSecret).toString('base64');\nreturn [{ json: { basicAuth } }];\n"
      }
    },
    {
      "id": "node-ebay-token",
      "name": "Get eBay OAuth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.ebay.com/identity/v1/oauth2/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Build eBay Auth Header').first().json.basicAuth }}"
            },
            { "name": "Content-Type", "value": "application/x-www-form-urlencoded" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "grant_type=client_credentials&scope=https%3A%2F%2Fapi.ebay.com%2Foauth%2Fapi_scope",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-ebay-search",
      "name": "Search eBay Listings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "parameters": {
        "method": "GET",
        "url": "https://api.ebay.com/buy/browse/v1/item_summary/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get eBay OAuth Token').first().json.access_token }}"
            },
            { "name": "X-EBAY-C-MARKETPLACE-ID", "value": "EBAY_US" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "={{ $('Receive Research Request').first().json.body.itemName.replace(/^Lot\\s*#?\\s*:?\\s*[\\d]+[a-z]?\\s*[-–]?\\s*/i, '').replace(/\\b\\d{4,6}\\s*KM[S]?\\b/gi, '').replace(/\\b\\d{4,6}\\s*MILES?\\b/gi, '').trim() }}" },
            { "name": "limit", "value": "8" },
            { "name": "sort", "value": "price" },
            { "name": "filter", "value": "conditionIds:{3000|1500|1000}" }
          ]
        },
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "node-format-ebay",
      "name": "Format eBay Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "parameters": {
        "jsCode": "const searchResponse = $input.first().json;\nconst webhookData = $('Receive Research Request').first().json.body;\n\nlet listings = [];\n\ntry {\n  const items = searchResponse?.itemSummaries || [];\n  listings = items.slice(0, 8).map(item => ({\n    title: item.title || '',\n    price: item.price?.value || '0',\n    currency: item.price?.currency || 'USD',\n    condition: item.condition || 'Unknown',\n    url: item.itemWebUrl || '',\n    listedAs: `$${parseFloat(item.price?.value || '0').toFixed(2)}`\n  }));\n} catch (e) {\n  listings = [];\n}\n\nconst avgPrice = listings.length > 0\n  ? listings.reduce((sum, l) => sum + parseFloat(l.price), 0) / listings.length\n  : null;\n\nreturn [{\n  json: {\n    webhookData,\n    listings,\n    avgListedPrice: avgPrice ? `$${avgPrice.toFixed(2)}` : null,\n    searchSucceeded: listings.length > 0\n  }\n}];\n"
      }
    },
    {
      "id": "node-build-claude-request",
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst wd = data.webhookData || {};\n\nconst listingLines = data.searchSucceeded\n  ? data.listings.map((l, i) => `${i+1}. ${l.title} — Listed at ${l.listedAs} (${l.condition}) ${l.url}`).join('\\n')\n  : '';\n\nconst ebaySection = data.searchSucceeded\n  ? `Found ${data.listings.length} current eBay listings for comparable items:\\n${listingLines}\\n${data.avgListedPrice ? 'Average listed price: ' + data.avgListedPrice : ''}`\n  : 'No eBay listing data available — use your knowledge for estimates.';\n\nconst prompt = `You are a professional eBay reseller researcher. Analyze this auction item and provide complete research data so it can be listed on eBay profitably.\n\n## ITEM DATA\nItem Name: ${wd.itemName || ''}\nCategory: ${wd.category || 'Unknown'}\nDescription: ${wd.description || 'No description provided'}\nCurrent Auction Bid: ${wd.currentBid || 'Unknown'}\nAuction Name: ${wd.auctionName || 'Unknown'}\nAI Estimate from auction site: ${wd.auctionSiteEstimate || 'Not provided'}\n\n## CURRENT EBAY LISTINGS (active listings for price reference)\n${ebaySection}\n\n## YOUR TASK\nReturn ONLY a valid JSON object (no markdown, no explanation) with this exact structure:\n{\n  \"researcherEstimate\": \"$X - $Y\",\n  \"researcherDescription\": \"2-3 sentences: condition assessment, what makes it valuable, any caveats a buyer should know\",\n  \"priority\": \"high|medium|low\",\n  \"priorityReason\": \"One sentence explaining why this priority\",\n  \"notes\": \"Key research notes: what to look for when photographing, any authentication concerns, best eBay category to list in\",\n  \"referenceUrls\": [\"url1\", \"url2\"],\n  \"confidence\": \"high|medium|low\",\n  \"confidenceReason\": \"Why confidence is this level\"\n}\n\nPriority logic:\n- high: estimated profit margin > 100% over current bid, or item sells for > $200\n- low: estimated profit margin < 20%, or item sells for < $30\n- medium: everything else\n\nFor referenceUrls: include the eBay listing URLs from the data above if available. If none, return empty array.`;\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1500,\n  messages: [{ role: 'user', content: prompt }]\n});\n\nreturn [{ json: { requestBody } }];\n"
      }
    },
    {
      "id": "node-claude",
      "name": "Claude AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $('Build Claude Request').first().json.requestBody }}",
        "options": {}
      }
    },
    {
      "id": "node-parse",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 300],
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst originalData = $('Format eBay Results').first().json;\n\nlet research = null;\nlet parseError = null;\n\ntry {\n  const text = claudeResponse?.content?.[0]?.text || '';\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    research = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in Claude response');\n  }\n} catch (e) {\n  parseError = e.message;\n  research = {\n    researcherEstimate: 'Could not determine — manual research needed',\n    researcherDescription: 'AI analysis failed. Please research manually.',\n    priority: 'medium',\n    priorityReason: 'Default — could not determine automatically',\n    notes: 'AI parse error: ' + parseError,\n    referenceUrls: [],\n    confidence: 'low',\n    confidenceReason: 'Parse failure'\n  };\n}\n\nreturn [{\n  json: {\n    success: !parseError,\n    research,\n    itemId: originalData.webhookData?.itemId,\n    ebaySearchResults: originalData.listings?.length || 0,\n    parseError\n  }\n}];\n"
      }
    },
    {
      "id": "node-callback",
      "name": "Update Item in Bidsquire",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Receive Research Request').first().json.body.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Internal-Secret", "value": "={{ $vars.INTERNAL_API_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "continueOnFail": true
    },
    {
      "id": "node-respond",
      "name": "Respond to Bidsquire",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2160, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Parse Claude Response').first().json) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Receive Research Request": {
      "main": [[{ "node": "Build eBay Auth Header", "type": "main", "index": 0 }]]
    },
    "Build eBay Auth Header": {
      "main": [[{ "node": "Get eBay OAuth Token", "type": "main", "index": 0 }]]
    },
    "Get eBay OAuth Token": {
      "main": [[{ "node": "Search eBay Listings", "type": "main", "index": 0 }]]
    },
    "Search eBay Listings": {
      "main": [[{ "node": "Format eBay Results", "type": "main", "index": 0 }]]
    },
    "Format eBay Results": {
      "main": [[{ "node": "Build Claude Request", "type": "main", "index": 0 }]]
    },
    "Build Claude Request": {
      "main": [[{ "node": "Claude AI Analysis", "type": "main", "index": 0 }]]
    },
    "Claude AI Analysis": {
      "main": [[{ "node": "Parse Claude Response", "type": "main", "index": 0 }]]
    },
    "Parse Claude Response": {
      "main": [[
        { "node": "Update Item in Bidsquire", "type": "main", "index": 0 },
        { "node": "Respond to Bidsquire", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["bidsquire", "ai", "research"]
}
